RewriteEngine On

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://memorialkiss.org/%{REQUEST_URI} [L,R=301]